.logo {
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.logo svg {
  font-size: 20px;
}

.logo svg:hover {
  fill: #000;
  transition: fill 5s;
}
