.btn {
  color: #007f73 !important;
  font-weight: bold !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  text-decoration: none !important;
  padding: 10px 20px !important;
}

.btn:hover {
  background-color: rgb(236, 235, 235) !important;
}

.btn svg {
  vertical-align: middle !important;
  font-size: 18px;
}
